In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [5]:
fifa = pd.read_csv('Data/fifa.csv', index_col="Date", parse_dates=True) # importing the dataset
fifa.shape
print('This data set is consistent of',fifa.shape[0], 'observations and', fifa.shape[1], 'columns.')

This data set is consistent of 286 observations and 6 columns.

In [7]:
fifa.head()

             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0